## Import Libraries and Load Data

In [3]:
import os
import IPython.display as ipd
import pandas as pd
import matplotlib.pylab as plt
import cv2
import numpy as np

In [4]:
path = "C:/Users/Melchior/Desktop/DeepFake Challenge/Data/aassnaulhq.mp4"
os.chdir(path)

In [4]:
video_file = 'aassnaulhq.mp4'

cap = cv2.VideoCapture(video_file)

frames = []
while(cap.isOpened()):
    ret, frame = cap.read()
    if ret==True:
        frames.append(frame) 
        if cv2.waitKey(1) & 0xFF == ord('q'):
            break
    else:
        break
cap.release()

print('The number of frames saved: ', len(frames))

The number of frames saved:  299

In [5]:
type(frames)

list

## 1. Compute the Differences Between Frames
* Turn frames into vectors
* Compute the difference between frames

In [40]:
frames = np.asanyarray(frames)

In [41]:
frames.shape

(299, 1080, 1920, 3)

In [48]:
# Use transpose to make np.diff() work... The function subracts columns and thus the frames have to be in the columns.

framesVectors = frames.reshape(299, 1080*1920*3).transpose()

In [49]:
framesVectors.shape

(6220800, 299)

In [50]:
framesVectorsDiff = np.diff(framesVectors)

In [51]:
# We lost one column so everything worked out just fine!

framesVectorsDiff.shape

(6220800, 298)

In [52]:
framesVectorsDiffDF = pd.DataFrame(framesVectorsDiff)
framesVectorsDiffDF.head()

,0,1,2,3,4,5,6,7,8,9,...,288,289,290,291,292,293,294,295,296,297
0,245,223,12,7,10,11,244,12,237,20,...,6,235,33,2,0,7,239,21,218,7
1,242,224,28,241,16,17,229,21,242,12,...,13,238,26,238,255,11,249,20,223,18
2,247,219,21,254,10,7,252,15,241,9,...,7,244,27,249,1,1,232,36,209,11
3,251,228,13,6,9,6,252,14,227,23,...,3,231,30,3,255,7,238,18,233,251
4,248,229,29,240,15,12,237,23,232,15,...,10,234,23,239,254,11,248,17,238,6

* We can ignore the cases where the computer does not allow negatives... 
* To the machine it does not matter whether they are upside down as long as the pattern stays the same, i.e. if the change is consistent

**Compare the output to the original, i.e. non differenced frame to check whether differencing worked**

In [53]:
framesVectorsDF = pd.DataFrame(framesVectors)
framesVectorsDF.head()

,0,1,2,3,4,5,6,7,8,9,...,289,290,291,292,293,294,295,296,297,298
0,141,130,97,109,116,126,137,125,137,118,...,120,99,132,134,134,141,124,145,107,114
1,146,132,100,128,113,129,146,119,140,126,...,139,121,147,129,128,139,132,152,119,137
2,157,148,111,132,130,140,147,143,158,143,...,143,131,158,151,152,153,129,165,118,129
3,136,131,103,116,122,131,137,133,147,118,...,128,103,133,136,135,142,124,142,119,114
4,141,133,106,135,119,134,146,127,150,126,...,147,125,148,131,129,140,132,149,131,137

## 2. Read In Multiple Files in Loop

In [12]:
VideoList = []
for file in os.listdir(path):
    if file.endswith(".mp4"):
        VideoList.append(file)

In [15]:
for i in VideoList:
    print(i)

aassnaulhq.mp4
aassnaulhq1.mp4
aassnaulhq2.mp4
aassnaulhq3.mp4

In [31]:
AllFrames = list()

for i in range(len(VideoList)):
    cap = cv2.VideoCapture(VideoList[i])

    frames = []
    while(cap.isOpened()):
        ret, frame = cap.read()
        if ret==True:
            frames.append(frame) 
            if cv2.waitKey(1) & 0xFF == ord('q'):
                break
        else:
            break
    cap.release()
    
    frames = np.asanyarray(frames)
    
    framesVectors = frames.reshape(299, 1080*1920*3).transpose()
    
    framesVectorsDiff = np.diff(framesVectors)
    
    AllFrames.append(frames)
    
    print(((i+1)/len(VideoList))*100, "% of Videos have been loaded.")

25.0 % of Videos have been loaded.
50.0 % of Videos have been loaded.
75.0 % of Videos have been loaded.
100.0 % of Videos have been loaded.